body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    background: linear-gradient(to right, #ffffff 50%, #004E64 50%);
}

/* Container */
.container-form {
    display: flex;
    /*max-width: 1200px;*/
    width: 100%;
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 16px;*/
    overflow: hidden;
}

/* Form Section */
.form-section {
    flex: 1;
    padding: 3rem;
    background-color: #ffffff;

}

.form-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Labels */
form label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.3rem;
    display: block;
}

/* Input Styles */
form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: #6c63ff;
    outline: none;
    background-color: #ffffff;
}

/* Suggestions List */
#suggestions {
    position: absolute; /* Permite que se superponga al contenido */
    list-style: none; /* Elimina las viñetas */
    padding: 0; /* Elimina padding por defecto */
    margin: 0.5rem 0 1rem; /* Margen superior e inferior */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con un poco de transparencia */
    border: 1px solid #ddd; /* Borde ligero */
    border-radius: 8px; /* Esquinas redondeadas */
    max-height: 200px; /* Altura máxima para la lista */
    overflow-y: auto; /* Permite desplazamiento si hay demasiados elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    z-index: 1000; /* Asegura que se superponga al resto del contenido */
}

#suggestions li {
    font-family: Arial, sans-serif;
    color: #434343;
    padding: 0.5rem 1rem; /* Espaciado interno de cada elemento */
    cursor: pointer; /* Cambia el cursor al pasar sobre la opción */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

#suggestions li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Cambio de color al pasar el ratón */
}

/* Address Container */
.address-container {
    display: flex;
    gap: 2rem;
}

.address-container div {
    flex: 1;
}
form {
    width: 80%; /* Ajusta el ancho del formulario */
    max-width: 400px; /* O puedes fijar un ancho máximo */
    margin-left: auto; /* Mueve el formulario hacia la derecha */
    margin-right: auto; /* Centra el formulario dentro del contenedor */
}
/* Submit Button */
form button[type="submit"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    background: linear-gradient(90deg, #5EBFE8,#004E64);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1.5rem;
}

form button[type="submit"]:hover {
    background: linear-gradient(90deg, #51a5c8, #002f3c);
}

/* Instruction Text */
.instructions {
    flex: 1;
    padding: 3rem;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #004E64;
}

.instructions h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
}

.instructions p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 100%;
    color: #ddd;
}
.back-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem; /* Ajusta el tamaño según tu preferencia */
    cursor: pointer;
    color: #6c63ff; /* Color que se ajuste a tu paleta */
    margin-right: 1rem; /* Espacio entre el botón y el título */
    transition: color 0.3s;
}

.back-button:hover {
    color: #3e0260; /* Cambia el color al pasar el ratón */
}

.autocomplete-results {
    position: absolute; /* Permite que se superponga al contenido */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    border: 1px solid #ddd; /* Borde ligero */
    border-radius: 5px; /* Esquinas redondeadas */
    list-style: none; /* Quita las viñetas */
    margin: 0; /* Elimina margen por defecto */
    padding: 0; /* Elimina padding por defecto */
    width: calc(100% - 2rem); /* Ancho del 100% menos un poco de espacio */
    max-height: 200px; /* Altura máxima para la lista */
    overflow-y: auto; /* Agrega desplazamiento si el contenido es demasiado */
    z-index: 1000; /* Asegura que se superponga al resto del contenido */
    font-family: 'Arial', sans-serif; /* Cambia a la fuente que uses en el formulario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.autocomplete-results li {
    padding: 0.5rem 1rem; /* Espaciado interno de cada elemento */
    cursor: pointer; /* Cambia el cursor al pasar sobre la opción */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

.autocomplete-results li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Cambio de color al pasar el ratón */
}