<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/checkout.css}">
</head>
<body>
<div class="checkout-summary">
    <h4>Checkout Summary</h4>
    <div class="summary-item">
        <span>Sub-Total:</span>
        <span th:text="'$' + ${subTotal}"></span>
    </div>
    <div class="summary-item">
        <span>Shipping:</span>
        <span th:text="'$' + ${shippingCost}"></span>
    </div>
    <div class="summary-item">
        <span>Taxes:</span>
        <span th:text="'$' + ${taxAmount}"></span>
    </div>
    <div class="summary-item">
        <span>Total Amount:</span>
        <span th:text="'$' + ${totalAmount}"></span>
    </div>

    <form action="/payment/create" method="post">
        <input type="hidden" name="amount" th:value="${totalAmount}">
        <input type="hidden" name="currency" value="USD"> <!-- Cambiar la moneda según sea necesario -->
        <input type="hidden" name="method" value="paypal">
        <input type="hidden" name="description" value="Purchase at Store">
        <button type="submit">Pay with PayPal</button>
    </form>

</div>
</body>
</html>
